:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.sider-overlay {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1001;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  background: #fff !important;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.inner-content {
  background: #fff;
  height: 100%;
}

.menu-item {
  transition: padding 0.3s ease;

  span {
    transition: margin 0.3s ease, padding 0.3s ease;
  }
}

.menu-text {
  transition: max-width 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
  overflow: hidden;
  display: inline-block;
}

.menu-text-expanded {
  max-width: 200px;
  opacity: 1;
  margin-left: 0;
}

.menu-text-collapsed {
  max-width: 0;
  opacity: 0;
  margin-left: 0;
}
