<div class="largeScreenConstrain">
    <div class="mt-5! text-2xl! font-bold! px-4 lg:mt-10!">Orders</div>
    <div class="flex flex-col justify-between p-4">
        <div class="flex flex-col mb-10 min-h-80">
            @if (currentData().length > 0) {
            <app-custom-table
                [headColumns]="headColumns"
                [cellColumns]="cellColumns"
                emptyDataText="You don't have any orders yet."
                [data]="currentData()"
                (actionClick)="onView($event)"
            />
            }
        </div>
        @if (pagingData()?.totalPage! > 1) {
        <nz-pagination
            [nzPageIndex]="currentPage()"
            [nzTotal]="pagingData()!.totalPage * 10"
            (nzPageIndexChange)="onChangePage($event)"
        ></nz-pagination>
        }
    </div>
    <app-inspiration-list />
</div>
