<div class="bg-white p-4">
  <p class="mb-4! text-2xl! font-bold!">Setting</p>
  <div class="flex items-center gap-x-16">
    <div class="flex flex-col gap-y-4">
      <div class="settingLink">My profile</div>
      <div class="settingLink">Member profile</div>
      <div class="settingLink">Privacy settings</div>
      <div class="settingLink">Tax Information</div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div class="settingLink">Manage Phones</div>
      <div class="settingLink">Manage Accounts</div>
      <div class="settingLink">Upload my photo</div>
      <div class="settingLink">My transaction</div>
    </div>
  </div>
</div>
