<div *ngIf="product" class="pb-6 ml-4" [ngClass]="isLast ? '' : 'border-b border-gray-300'">
    <div class="mb-4! text-xl! font-bold!">{{ getCategoryName() }}</div>
    <div class="flex gap-x-4">
        <img
            [src]="product.imageSrc"
            alt="product-img"
            class="h-[110px] w-[110px] rounded-lg border lg:h-auto"
        />
        <div class="flex w-full flex-col justify-between">
            <div class="flex flex-col gap-y-1 lg:gap-y-4">
                <div class="line-clamp-2 text-left text-sm font-bold hover:underline lg:text-2xl">
                    {{ product.subject }}
                </div>
                <div class="mb-1 text-sm font-extrabold lg:text-[20px]">
                    {{ product.price }}
                </div>
            </div>
            <button *ngIf="!hideAction" (click)="onRemoveItem(product.id)" class="w-fit">
                <img src="/trash.png" class="cursor-pointer w-6 h-6" />
            </button>
            <div *ngIf="displayQuantity" class="text-[#666666] font-semibold">
                Quantity: {{ product.quantity }}
            </div>
        </div>
    </div>
</div>
