<div class="largeScreenConstrain">
    <div class="mt-5! text-2xl! font-bold! p-4 lg:mt-10!">Favorite</div>
    <div class="flex flex-col justify-between p-4">
        <div class="min-h-[630px] flex flex-col">
            @if ((favoriteList()?.length ?? 0) > 0) { @for (item of currentData(); track item; let i
            = $index, let last = $last) {
            <div class="relative -ml-4 flex flex-col gap-y-4 pb-8">
                <app-cart-item
                    [product]="item"
                    (actionClick)="onRemoveFromList($event)"
                    [isLast]="i === currentData().length - 1"
                />
            </div>
            }}
        </div>
        @if (pagingData()?.totalPage! > 1) {
        <nz-pagination
            [nzPageIndex]="currentPage()"
            [nzTotal]="pagingData()!.totalPage * 10"
            (nzPageIndexChange)="onChangePage($event)"
        ></nz-pagination>
        }
    </div>
    @if ((favoriteList()?.length === 0)) {
    <div class="flex w-fit flex-col">
        <div class="flex w-32 items-center justify-center rounded-xl bg-gray-100 p-4">
            <img alt="no-favorite" src="/no-favorite.avif" class="w-20 object-cover" />
        </div>
        <div class="my-2 text-center text-[16px] font-bold text-black">No favorite yet</div>
        <a href="/" target="_self" class="text-center hover:underline! text-black!"> Explore </a>
    </div>
    }
    <app-inspiration-list />
</div>
